
<div class=" container ">

  <div class="row">
    <div class="col">
      <form [formGroup]="form">
        <div formArrayName="items">
          <div *ngFor="let question of data;let i=index">
            <div [formGroupName]="i" >

              <div class="row">
                <div class="mt-3 col-12 text-right" >

                  <h4 class="mr-3">{{question.question}}</h4>

                </div>
                <div class="col-12 d-flex justify-content-center">
                  <ngx-star-rating  [id]="i" formControlName="rate" ></ngx-star-rating>
                </div>
              </div>
            </div>
            <div class="under-block"></div>
          </div>
          <input class="btn btn-block btn-success" (click)="submit()" type="submit" value="ثبت" />
        </div>
      </form>
    </div>
  </div>
</div>

