.container{
  margin-top: 10em;
}

.btn{
  height: 5em;
  width: 40%;

}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
.btn:hover{
  animation: spin 1s forwards;
}
